.brands {
  margin: 40px 0;
}
.brand-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #dee0ea;
  list-style-type: none;
  padding: 30px 10px;
}
.brand-list .brand-item {
  opacity: 0.4;
  transition: 0.3s ease opacity;
}
.brand-list .brand-item:hover {
  opacity: 1;
}
